
$color: #FF2300;

$btn-color: $color;
$btn-hover-color: darken( $color, 10% );//#e61d00;
$btn-text-color: #f8f9fa;

$input-text-color: #596a73;
$input-border-color: #ced4da;
$input-background-color: #f3f7f9;

$table-hover-color:  #fafafa;

$breadcrumb-background-color: $input-background-color;

$table-head-background-color:  $input-background-color;
